  <h1>Testing Realtime communication with WebRTC</h1>


 
  <div class="col-md-12">
    <button class="btn btn-primary" id="startButton">Start</button>
    <button class="btn btn-primary" id="callButton">Call</button>
    <button class="btn btn-primary" id="hangupButton">Hang Up</button>
  </div>
  
  <div>
    <p></p>
  </div>

  <p></p>
    <div class="col-md-5">
      <video id="remoteVideo" autoplay playsinline></video>
      <p>remoteVideo</p>
      
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <video id="localVideo" autoplay playsinline></video>
      <p>localVideo</p>
      
    </div>
    <div class="col-md-1"></div>

<p></p>



  

